$colorNombre : rgb(255, 255, 255);
$colordefondo : rgb(172, 78, 66);
$colorfondoizquierda: chocolate;
$colorfondoderecha:rgb(230, 184, 125);
$colorIconos: rgb(253, 171, 77);
$colorSombra:black;
$colorHabilidades:rgb(255, 80, 10);
$colorLetrasApartados:rgb(117, 3, 3);
$coloresTitulos:rgb(253, 126, 7);
$colorTexto:rgb(90, 90, 90);
$coloresEmpresas:rgb(175, 97, 45);
$coloresCategoria:rgb(110, 67, 26);




