$colorNombre : rgb(0, 0, 0);
$colordefondo : linear-gradient(to bottom, rgb(210, 231, 245), rgb(255, 255, 255));
$colorTitulo:black;
$colorLetraApartados:rgb(255, 255, 255);
$colordefondoApartados : linear-gradient(to left, rgb(255, 255, 255)0%, rgb(0, 0, 0)100%);
$colorprincipal: #c9dfe9;
