@import "variables";
@import "mixin";

header {
  width: 100%;
  position: fixed;
  nav {
    background-color: black;
    opacity: 70%;
    overflow: hidden;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: right;
        font-family: Arial, sans-serif;
        font-size: 16px;
        :hover {
          background: $colorprincipal;
          color: #000;
          font-style: bold;
        }
        a {
          display: block;
          padding: 10px;
          color: rgb(255, 255, 255);
          text-decoration: none;
        }
      }
    }
  }
}

.espacio {
  padding: 19px;
  background-color: $colorprincipal;
}
.principal {
  padding: 40px;
  background-color: $colorprincipal;
  height: 4000px;
}
.primero {
  background-color: $colorprincipal;
  width: 50%;
}

.foto {
  width: 350px;
  height: 350px;
  border-radius: 150%;
  float:left;
}
.descripcion{
  box-shadow: 2px 2px 5px  black;
  border-radius: 5px;
  margin-left: 20px;
  padding-left: 20px;
  width: 50%;
  margin-top: 100px;
  align-items: center;
  float:left;
  text-align: left;
  background-color: rgb(212, 239, 255);
}

/*
  .principal {
    .tabla {
      .celda1 {
        width: 15%;
        .mifoto {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }
      .celda2 {
        width: 85%;
        .nombre {
          text-align: center;
          color: $colorNombre;
          font-family: Arial, Helvetica, sans-serif;
          @include estilo_titulo();
          h2 {
            font-size: 50px;
          }
        }
      }
    }
  }

  .skills {
    padding-left: 4px;
    padding: 2px;
    // background-color: $colorTitulo;
    text-align: justify;

    .apartados {
      background: $colordefondoApartados;
      h2 {
        @include estilos_apartados($colorLetraApartados);
      }
    }
  }*/
