.marcoFoto {
    overflow: hidden; /*esta propiedad evita que la imagen ocupe mas espacio que su contenedor*/
    width:100%;
    box-sizing:border-box;
    float:left;
}
.img-card{
    transition: transform .3s; 
    overflow:hidden;
}

.img-card:hover{
transform:scale(1.3);
} 

.btnPropio{
    text-size-adjust: auto;
}
.principal{
    background-color: rgb(240, 240, 240);
}

.contenedorprincipal{
    margin: 30px;
    margin-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.midiv{
    width: 100%;
    height: 100%;
    background-color: blue;
}

.containerPersonal{
    padding: 30px;
}

.img-propio{
    width: 300px;
}

.precioCompra{
    width: 100%;
    height: 30px;
    color: rgb(0, 0, 0);
    text-align: end;
    padding-inline-end: 20px;
}
.separador{
    height: 60px;
}
.main{
    padding: 20px;
}

.divBtnAnyadir{
    text-align: start;
    margin: 10px;
}

.precio-total{
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    text-align: center;

}

.precioCarrito{
font-size: 30px;
}

